body {
  background-color: #1D4221;
  color: white;
  font-family: "Bai Jamjuree", sans-serit;
  display: flex;
  jutify-content:center;
  align-itens: center;
  height: 700px;
  margin: 0;
}

  button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
